Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

refactor: increased typst compile ppi and reduced preview asset height
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  justscripts/build/assets.just
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: fixed version and asset image quality (#32)
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  justscripts/build/assets.just
  justscripts/build/mod.just
  justscripts/build/template.just
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  src/lib.typ
  template/README.md
  template/main.pdf
  template/main.typ
  template/template_body.typ
  template/thumbnail.webp
  typst.toml
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

refactor(build): improved build messages
  justscripts/build/assets.just
Due: typos -w -c typos.toml

chore: removed unneeded git module
  .gitmodules
Due: typos -w -c typos.toml

refactor(build)!: cleanup and refactoring of the justfiles
  justscripts/build/assets.just
Due: typos -w -c typos.toml

chore: added non-essential dev tool files
  .gitignore
Due: typos -w -c typos.toml

refactor: moved the thThemes to the root directory
  justscripts/build/modules.just
  src/styling/code.typ
  tmThemes/frappe.tmTheme
  tmThemes/latte.tmTheme
  tmThemes/macchiato.tmTheme
  tmThemes/mocha.tmTheme
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

docs: improved and corrected docstrings
  src/flavors.typ
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: added additional assertion
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

feat!: removed font from repository
  fonts/Nunito/Nunito-Black.ttf
  fonts/Nunito/Nunito-BlackItalic.ttf
  fonts/Nunito/Nunito-Bold.ttf
  fonts/Nunito/Nunito-BoldItalic.ttf
  fonts/Nunito/Nunito-ExtraBold.ttf
  fonts/Nunito/Nunito-ExtraBoldItalic.ttf
  fonts/Nunito/Nunito-ExtraLight.ttf
  fonts/Nunito/Nunito-ExtraLightItalic.ttf
  fonts/Nunito/Nunito-Italic.ttf
  fonts/Nunito/Nunito-Light.ttf
  fonts/Nunito/Nunito-LightItalic.ttf
  fonts/Nunito/Nunito-Medium.ttf
  fonts/Nunito/Nunito-MediumItalic.ttf
  fonts/Nunito/Nunito-Regular.ttf
  fonts/Nunito/Nunito-SemiBold.ttf
  fonts/Nunito/Nunito-SemiBoldItalic.ttf
  fonts/Nunito/OFL.txt
Due: typos -w -c typos.toml

chore: ran build
  assets/.gitkeep
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor!: removed all non-essential features to debloat
  justfile
  justscripts/build/assets.just
  justscripts/build/manual.just
  justscripts/build/mod.just
  justscripts/build/modules.just
  scripts/package
  scripts/setup
  scripts/uninstall
Due: typos -w -c typos.toml

docs: fixed code block styles
  examples/demo.typ
  manual/manual.typ
  manual/template.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: removed unneeded dev files from the repository
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --check, typos -w -c typos.toml

test: updated test refs
  justfile
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

fix: improved code styling and syntax highlighting
  README.md
  examples/demo.typ
  justscripts/build/modules.just
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
  src/catppuccin.typ
  src/flavors.typ
  src/flavors/catppuccin-frappe.typ
  src/flavors/catppuccin-latte.typ
  src/flavors/catppuccin-macchiato.typ
  src/flavors/catppuccin-mocha.typ
  src/lib.typ
  src/styling/code.typ
  src/tmThemes/frappe.tmTheme
  src/tmThemes/latte.tmTheme
  src/tmThemes/macchiato.tmTheme
  src/tmThemes/mocha.tmTheme
  tests/background/test.typ
  typst.tera
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

fix: removed code and references to removed features
  justscripts/build/assets.just
  justscripts/build/mod.just
  typst.toml
Due: prettier --check, typos -w -c typos.toml

refactor!: merged functionality of `parse-flavor` into `get-flavor` for simplicity
  src/catppuccin.typ
  src/flavors.typ
  src/lib.typ
  src/styling/code.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

tests: updated test due to code style changes
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.pdf
  tests/background/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

chore: updated pdfs
  examples/demo.pdf
  examples/demo.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: removed accidentally included file
  tests/background/test.pdf
Due: typos -w -c typos.toml

refactor!: reworked and corrected validation to use valkyrie
  src/catppuccin.typ
  src/flavors.typ
  src/styling/code.typ
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: updated pdfs
  examples/demo.pdf
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor: included additional module functions
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: added missing field `identifier` to the documentation
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: improved docstring to provide additional context
  manual/manual_mocha.pdf
  src/flavors.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: reduced outline depth to 2
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: corrected spelling
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix!: moved code block centring to arg defaults
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: change imports to absolute paths
  manual/manual.typ
  manual/template.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: update assets to use recent changes
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor: minor changes to include recent code block stylisation changes
  examples/demo.pdf
  examples/demo.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor(docs)!: updated docstrings and manual to use Tidy v0.4.0
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
  requirements.typ
  src/catppuccin.typ
  src/flavors.typ
  src/flavors/catppuccin-frappe.typ
  src/flavors/catppuccin-latte.typ
  src/flavors/catppuccin-macchiato.typ
  src/flavors/catppuccin-mocha.typ
  src/styling/code.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
  src/version.typ
  typst.tera
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: corrected hash for local cache
  justscripts/build/manual.just
Due: typos -w -c typos.toml

styling: typsty format
  examples/requirements.typ
  manual/manual.typ
  manual/template.typ
  src/tidy/styles.typ
  src/utils.typ
  src/valkyrie/typst-schema.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor!: removed enforced code block defaults and improved overwrite ability
  src/catppuccin.typ
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: updated to centre after default was removed
  examples/demo.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

build: extended just script to clone typst repo and package catppuccin
  justfile
  justscripts/publish.just
Due: typos -w -c typos.toml

format: removed trailing whitespace
  justscripts/publish.just
Due: typos -w -c typos.toml

Path conditions:
  prettier --check: any of: *.{json,md,yaml,toml,tmTheme}
  typstyle --check -c 120: any of: *.typ
  oxipng -o max --strip safe: any of: *.png
  typos -w -c typos.toml: any of: *
