Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

.lintstagedrc:

{
  "*.{json,md,yaml,toml,tmTheme}": ["prettier --check"],
  "*.typ": ["typstyle --check -c 120"],
  "*.png": ["oxipng -o max --strip safe"],
  "*": ["typos -w -c typos.toml"],
}

fix: added missing readme and license to the package
  justscripts/publish.just
Due: typos -w -c typos.toml

docs: changed code example to remove version ambiguity
  README.md
Due: prettier --check, typos -w -c typos.toml

docs: changed code example to remove version ambiguity (#35)
  README.md
Due: prettier --check, typos -w -c typos.toml

testing script changes
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

refactor: removed the inclusion of fonts from packaging
  justscripts/publish.just
Due: typos -w -c typos.toml

included v0.11.0
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

added tests
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

fix!: replicated nearly identical look after prior commit decentering broke how things looked
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

tests: updated test references
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

fix!: replicated nearly identical look after decentering breaking change (#40)
  src/styling/code.typ
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

removed artifact upload
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

added root arg
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

lowered version of cargo-install
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

removed tool.typst-test
  typst.toml
Due: prettier --check, typos -w -c typos.toml

reverted version + removed root arg
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

moved changed page size to first line
  tests/background/test.typ
  tests/colors/test.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: removed width measurement for code blocks
  src/styling/code.pdf
  src/styling/code.typ
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

refactor: removed width measurement for code blocks
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: corrected testing script
  justfile
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: oxipng -o max --strip safe, typos -w -c typos.toml

fix: added missing example requirement
  examples/requirements.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

Update ci.yml
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

refactor: changed tests to use dictionary values rather than iterating on their keys
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

attempt to make tests more stable
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

fix!: corrected disabling code block option
  src/styling/code.typ
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/7.png
  tests/background/ref/8.png
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

test: now ignoring system fonts
  justfile
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: oxipng -o max --strip safe, typos -w -c typos.toml

tests(ci): now ignoring system fonts
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

ci: added tests
  .github/workflows/ci.yml
  justfile
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  typst.toml
Due: prettier --check, oxipng -o max --strip safe, typos -w -c typos.toml

refactor!: stabalised tests and removed measurment defaults for code blocks
  examples/requirements.typ
  justfile
  src/styling/code.typ
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

chore: ran build on changes
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor: fixed problems with tests (#41)
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/requirements.typ
  justfile
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  src/styling/code.pdf
  src/styling/code.typ
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

ci: added tests
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: oxipng -o max --strip safe, typos -w -c typos.toml

chore(deps): update valkyrie
  requirements.typ
  src/catppuccin.typ
  src/flavors.typ
  src/styling/code.typ
  src/valkyrie/typst-schema.typ
Due: typstyle --check -c 120, typos -w -c typos.toml
