Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

chore(deps): updated cetz, cetz-plot, and tidy
  examples/demo.typ
  examples/requirements.typ
  manual/manual.typ
  requirements.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore(deps): updated deps (#43)
  examples/demo.typ
  examples/requirements.typ
  manual/manual.typ
  requirements.typ
  src/catppuccin.typ
  src/flavors.typ
  src/styling/code.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
  src/valkyrie/typst-schema.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: changed code example to remove version ambiguity (#35)
  README.md
Due: prettier --check, typos -w -c typos.toml

fix!: replicated nearly identical look after decentering breaking change (#40)
  src/styling/code.typ
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

refactor: fixed problems with tests (#41)
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/requirements.typ
  justfile
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  src/styling/code.pdf
  src/styling/code.typ
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

tests: updated tests
  justfile
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: oxipng -o max --strip safe, typos -w -c typos.toml

ci: added workflow to check and update Typst dependencies
  .github/workflows/update-typst.yml
Due: typos -w -c typos.toml

chore: included "typ" to typos excluded words
  typos.toml
Due: prettier --check, typos -w -c typos.toml

chore: included "typ" to typos excluded words (#45)
  typos.toml
Due: prettier --check, typos -w -c typos.toml

build: extended just script to clone typst repo and package catppuccin
  justfile
  justscripts/publish.just
Due: typos -w -c typos.toml

refactor: removed the inclusion of fonts from packaging
  justscripts/publish.just
Due: typos -w -c typos.toml

fix: added missing readme and license to the package
  justscripts/publish.just
Due: typos -w -c typos.toml

format: removed trailing whitespace
  justscripts/publish.just
Due: typos -w -c typos.toml

ci: added tests
  .github/workflows/ci.yml
  justfile
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  typst.toml
Due: prettier --check, oxipng -o max --strip safe, typos -w -c typos.toml

refactor: fixed problems with tests (#41)
  examples/requirements.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

ci: added tests
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: oxipng -o max --strip safe, typos -w -c typos.toml

chore: ran typestyle formatter
  examples/demo.typ
  manual/manual.typ
  manual/template.typ
  src/catppuccin.typ
  src/flavors.typ
  src/lib.typ
  src/styling/code.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
  src/utils.typ
  src/valkyrie/typst-schema.typ
  src/version.typ
  tests/background/test.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: changed format width to 80
  justscripts/build/mod.just
Due: typos -w -c typos.toml

chore: updated build assets
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor: updated dependencies
  examples/demo.typ
  examples/requirements.typ
  manual/manual.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

ci: updated typst version to match updated dependencies
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

ci: decreased format linewidth to match justfile
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

chore!: removed unneeded or out-of-scope files
  src/styling/code.pdf
  src/styling/code.typ
  src/valkyrie/typst-schema.typ
  tests/.gitignore
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
Due: typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

ci: removed unneeded testing
  .github/workflows/ci.yml
  justfile
Due: typos -w -c typos.toml

ci: updated ci workflow with added compilation of the manual
  .github/workflows/ci.yml
  requirements.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

build: added update command
  justfile
Due: typos -w -c typos.toml

build!: added `set -euo pipefail`
  justfile
  justscripts/build/assets.just
  justscripts/build/manual.just
  justscripts/build/modules.just
  justscripts/publish.just
Due: typos -w -c typos.toml

build: added check for git tag on origin
  justscripts/publish.just
Due: typos -w -c typos.toml

fix!: updated `show-outline` to match `tidy` v0.4.3
  src/tidy/show-module.typ
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor!: removed out-of-scope code block styling
  src/catppuccin.typ
  src/flavors.typ
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: update manual to exclude removed modules
  manual/manual.typ
  manual/template.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore(docs): updated manual
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

style: removed quotes
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

refactor: allow font fallback to allow CI to pass without installing fonts
  manual/template.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

style: formatting
  manual/template.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix(ci): corrected pathing to logo
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

refactor(build): added comment
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

Path conditions:
  prettier --check: any of: *.{json,md,yaml,toml,tmTheme}
  typstyle --check -c 120: any of: *.typ
  oxipng -o max --strip safe: any of: *.png
  typos -w -c typos.toml: any of: *
