Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, typos -w

CI improvements (#14)
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc
  justfile
  manual/manual.typ
  src/tidy/styles.typ
  tests/.gitignore
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/background/test.typ
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
  tests/colors/test.typ
  typos.toml
  typst.toml
  yarn.lock
Due: prettier --check, typstyle --check -c 120, typos -w

refactor(naming convention)!: changed variables and function to kabab-case
  examples/demo.typ
  manual/manual.typ
  manual/template.typ
  src/catppuccin.typ
  src/flavors.typ
  src/lib.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
  tests/background/test.typ
  tests/colors/test.typ
Due: typstyle --check -c 120, typos -w

chore: added config option
  .lintstagedrc
Due: typos -w

chore: added ignoring for webp
  typos.toml
Due: prettier --check, typos -w

chore: rebuilt after kabab-case refactoring
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_frappe.pdf
  manual/manual_latte.pdf
  manual/manual_macchiato.pdf
  manual/manual_mocha.pdf
Due: typos -w

Refactor variable and function names to kabab-case (#18)
  .lintstagedrc
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  manual/manual.typ
  manual/manual_frappe.pdf
  manual/manual_latte.pdf
  manual/manual_macchiato.pdf
  manual/manual_mocha.pdf
  manual/template.typ
  src/catppuccin.typ
  src/flavors.typ
  src/lib.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
  tests/background/test.typ
  tests/colors/test.typ
  typos.toml
Due: prettier --check, typstyle --check -c 120, typos -w

build(manual): added logo to manual by downloading and caching before build
  justfile
  justscripts/manual_build.just
Due: typos -w

docs(manual): added catppuccin logo to manual
  manual/manual.typ
  manual/manual_frappe.pdf
  manual/manual_latte.pdf
  manual/manual_macchiato.pdf
  manual/manual_mocha.pdf
  manual/template.typ
Due: typstyle --check -c 120, typos -w

Added catppuccin logo to manual (#19)
  justfile
  justscripts/manual_build.just
  manual/manual.typ
  manual/manual_frappe.pdf
  manual/manual_latte.pdf
  manual/manual_macchiato.pdf
  manual/manual_mocha.pdf
  manual/template.typ
Due: typstyle --check -c 120, typos -w

refactor(build)!: updated and improved justfiles
  justfile
  justscripts/.gitignore
  justscripts/build/assets.just
  justscripts/build/manual.just
  justscripts/build/modules.just
  justscripts/build_assets.py
  justscripts/install.py
Due: typos -w

chore: removed python and added oxipng
  .lintstagedrc
  justfile
  yarn.lock
Due: typos -w

perf: optimize logo after download
  justscripts/build/manual.just
Due: typos -w

chore: rebuilt with optimized logo
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w

chore: renamed directory
  fonts/Jellee-Roman.otf
  fonts/Nunito-Bold.ttf
  fonts/Nunito-BoldItalic.ttf
  fonts/Nunito-Italic.ttf
  fonts/Nunito-Medium.ttf
  fonts/Nunito-MediumItalic.ttf
  fonts/Nunito-Regular.ttf
  fonts/Nunito-SemiBold.ttf
  fonts/Nunito-SemiBoldItalic.ttf
Due: typos -w

chore: ignore pngs
  typos.toml
Due: prettier --check, typos -w

chore: re-ran build
  assets/.gitkeep
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
  tests/colors/ref/1.png
  tests/colors/ref/2.png
  tests/colors/ref/3.png
  tests/colors/ref/4.png
Due: typos -w

refactor: improved order of recipes
  justfile
Due: typos -w

fix(build): excluded untracked test dirs from oxipng
  justfile
Due: typos -w

chore: rebuild
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w

refactor: changed default font
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/README.md
  examples/demo.pdf
  examples/demo.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: prettier --check, typstyle --check -c 120, typos -w

fix(README): updated images to .webp links
  README.md
Due: prettier --check, typos -w

fix(README): updated images to .webp links (#21)
  README.md
Due: prettier --check, typos -w

feat: added helper private recipe to prepare a branch to publish the package
  justfile
Due: typos -w

build(template): added just recipes to build and compile the package template
  justfile
  justscripts/build/manual.just
  justscripts/build/template.just
Due: typos -w

feat(template): added package template
  template/README.md
  template/catppuccin_src.typ
  template/main.pdf
  template/main.typ
  template/thumbnail.png
Due: prettier --check, typstyle --check -c 120, typos -w

chore(fonts): added remaining Nunito fonts for the template distribution
  fonts/Nunito/Nunito-Black.ttf
  fonts/Nunito/Nunito-BlackItalic.ttf
  fonts/Nunito/Nunito-Bold.ttf
  fonts/Nunito/Nunito-BoldItalic.ttf
  fonts/Nunito/Nunito-ExtraBold.ttf
  fonts/Nunito/Nunito-ExtraBoldItalic.ttf
  fonts/Nunito/Nunito-ExtraLight.ttf
  fonts/Nunito/Nunito-ExtraLightItalic.ttf
  fonts/Nunito/Nunito-Italic.ttf
  fonts/Nunito/Nunito-Light.ttf
  fonts/Nunito/Nunito-LightItalic.ttf
  fonts/Nunito/Nunito-Medium.ttf
  fonts/Nunito/Nunito-MediumItalic.ttf
  fonts/Nunito/Nunito-Regular.ttf
  fonts/Nunito/Nunito-SemiBold.ttf
  fonts/Nunito/Nunito-SemiBoldItalic.ttf
  fonts/Nunito/OFL.txt
Due: typos -w

chore(typo): added otf and ttf to filetypes to ignore
  typos.toml
Due: prettier --check, typos -w

chore(font): updated Jellee font use + added licence
  examples/demo.typ
  fonts/Jellee-Roman.otf
  fonts/Jellee/Jellee-Bold.otf
  fonts/Jellee/Jellee-OFL.txt
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
Due: typstyle --check -c 120, typos -w

fix(code blocks): reduced inset/outset of code box and blocks to make them less bulky
  src/catppuccin.typ
Due: typstyle --check -c 120, typos -w

test: updated refs to match code block changes
  tests/background/ref/1.png
  tests/background/ref/10.png
  tests/background/ref/11.png
  tests/background/ref/12.png
  tests/background/ref/13.png
  tests/background/ref/14.png
  tests/background/ref/15.png
  tests/background/ref/16.png
  tests/background/ref/2.png
  tests/background/ref/3.png
  tests/background/ref/4.png
  tests/background/ref/5.png
  tests/background/ref/6.png
  tests/background/ref/7.png
  tests/background/ref/8.png
  tests/background/ref/9.png
Due: typos -w

chore: ran build
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.pdf
Due: typos -w

fix: include files in folders copied into orphaned branch
  justfile
Due: typos -w

fix: corrected just expression
  justfile
Due: typos -w

fix: removed any untracked existing packages dir
  justfile
Due: typos -w

feat: completed helper recipe to prepare package branch for publishing
  justfile
Due: typos -w

fix: removed test code and moved thumbnail to root when packaging
  justfile
Due: typos -w

chore: prepared toml for template package publishing
  typst.toml
Due: prettier --check, typos -w

Fix: make version finding relative
  src/version.typ
Due: typstyle --check -c 120, typos -w

Path conditions:
  prettier --check: any of: *.{json,md,yaml,toml,tmTheme}
  typstyle --check -c 120: any of: *.typ
  typos -w: any of: *
