Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

.lintstagedrc:

{
  "*.{json,md,yaml,toml,tmTheme}": ["prettier --check"],
  "*.typ": ["typstyle --check -c 120"],
  "*.png": ["oxipng -o max --strip safe"],
  "*": ["typos -w -c typos.toml"],
}

Fix: make version finding relative (#24)
  src/version.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: fixes issue #25
  justfile
  justscripts/build/template.just
Due: typos -w -c typos.toml

fix: replace non-PCRE regex in build scripts (#26)
  justfile
  justscripts/build/template.just
Due: typos -w -c typos.toml

refactor(build): improved build messages
  justscripts/build/assets.just
  justscripts/build/manual.just
  justscripts/build/mod.just
  justscripts/build/modules.just
  justscripts/build/template.just
Due: typos -w -c typos.toml

fix: corrected install recipe and added parameter checks
  justfile
Due: typos -w -c typos.toml

refactor(build)!: cleanup and refactoring of the justfiles
  justfile
  justscripts/build/assets.just
  justscripts/build/manual.just
  justscripts/build/mod.just
  justscripts/build/modules.just
  justscripts/build/template.just
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  template/main.pdf
  template/main.typ
  template/template_body.typ
  template/thumbnail.png
  template/thumbnail.webp
  typst.toml
Due: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

refactor(build): improvements to installation scripts
  .typstignore
  justfile
  scripts/package
  scripts/setup
  scripts/uninstall
Due: typos -w -c typos.toml

chore: removed old submodule
  .gitmodules
Due: typos -w -c typos.toml

chore: added submodule
  .gitmodules
Due: typos -w -c typos.toml

refactor: cleanup and refactoring of the justfiles (#27)
  .gitmodules
  .typstignore
  justfile
  justscripts/build/assets.just
  justscripts/build/manual.just
  justscripts/build/mod.just
  justscripts/build/modules.just
  justscripts/build/template.just
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  scripts/package
  scripts/setup
  scripts/uninstall
  template/main.pdf
  template/main.typ
  template/template_body.typ
  template/thumbnail.png
  template/thumbnail.webp
  typst.toml
Due: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

refactor(build)!: cleanup and refactoring of the justfiles
  justscripts/build/assets.just
Due: typos -w -c typos.toml

refactor(build): improved build messages
  justscripts/build/assets.just
Due: typos -w -c typos.toml

refactor: updated README to display up-to-date @preview installation and usage
  README.md
Due: prettier --check, typos -w -c typos.toml

chore: added import
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: added missing context
  src/catppuccin.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

style: formatted with typsty
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: added missing context (#29)
  src/catppuccin.typ
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix!: update to deps w/ fixes removing deprecations
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
  template/main.pdf
  template/main.typ
  template/template_body.typ
  template/thumbnail.webp
Due: typstyle --check -c 120, typos -w -c typos.toml

fix!: updated minimum version to work with dependencies
  typst.toml
Due: prettier --check, typos -w -c typos.toml

chore: updated requirements versions
  examples/requirements.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix!: updated minimum compiler version to work with dependencies
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

fix!: Updated dependencies (#30)
  .github/workflows/ci.yml
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  examples/requirements.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
  template/main.pdf
  template/main.typ
  template/template_body.typ
  template/thumbnail.webp
  typst.toml
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

refactor: include docstring in generated flavor files
  src/flavors/catppuccin-frappe.typ
  src/flavors/catppuccin-latte.typ
  src/flavors/catppuccin-macchiato.typ
  src/flavors/catppuccin-mocha.typ
  typst.tera
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: bump package version to 1.0.0-alpha.1 in prep for official publish
  typst.toml
Due: prettier --check, typos -w -c typos.toml

refactor!: renamed `themes` to `flavors` and `get-theme` to `get-flavor`
  examples/demo.typ
  manual/manual.typ
  manual/template.typ
  src/catppuccin.typ
  src/lib.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

feat: added new function to help parse dynamically typed flavor arguments
  src/flavors.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: removed re-exported flavors for generated imports
  src/flavors.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: ran build
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor!: removed code that applies code block styling and moved to its own module
  src/catppuccin.typ
  src/styling/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: updated README to display up-to-date `@preview` installation and usage
  README.md
Due: prettier --check, typos -w -c typos.toml

refactor!: version 1.0.0-alpha.1 (#31)
  README.md
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  justscripts/build/assets.just
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  manual/template.typ
  src/catppuccin.typ
  src/flavors.typ
  src/flavors/catppuccin-frappe.typ
  src/flavors/catppuccin-latte.typ
  src/flavors/catppuccin-macchiato.typ
  src/flavors/catppuccin-mocha.typ
  src/lib.typ
  src/styling/code.typ
  src/tidy/show-module.typ
  src/tidy/styles.typ
  typst.tera
  typst.toml
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

fix: changed version to 1.0.0 because typst doesn't allow version metadata
  typst.toml
Due: prettier --check, typos -w -c typos.toml

fix: added missing export
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

feat!: removed template as it is unnecessary and adds complexity
  justscripts/build/mod.just
  justscripts/build/template.just
  template/README.md
  template/main.pdf
  template/main.typ
  template/template_body.typ
  template/thumbnail.webp
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml
