Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

chore: moved contents of `./assets/previews` to `./assets`
  assets/frappe.webp
  assets/latte.webp
  assets/macchiato.webp
  assets/mocha.webp
  assets/preview.webp
  justscripts/build/assets.just
Due: typos -w -c typos.toml

refactor(build): added logo to assets and refactored build scripts
  assets/logos/logo_dark.png
  assets/logos/logo_light.png
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  justfile
  justscripts/build/assets.just
  justscripts/build/manual.just
Due: oxipng -o max --strip safe, typos -w -c typos.toml

chore: updated manual
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

fix(ci): removed `wget` for repo assets
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

refactor: added option to disable code styling
  src/catppuccin.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore(README): updated code usage
  README.md
Due: prettier --check, typos -w -c typos.toml

chore: updated manuals
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

refactor: rename argument to match older name
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  src/catppuccin.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

build: removed unnecessary `-x` option
  justscripts/publish.just
Due: typos -w -c typos.toml

fix(build): corrected assets path
  justscripts/publish.just
Due: typos -w -c typos.toml

fix: package preparation script adjustments (#46)
  justscripts/publish.just
Due: typos -w -c typos.toml

chore: added missing exclude section
  typst.toml
Due: prettier --check, typos -w -c typos.toml

chore: added missing exclude section (#47)
  typst.toml
Due: prettier --check, typos -w -c typos.toml

build(publish): added step to remove `*.typ` file from the prepared packages `manual` dir
  justscripts/publish.just
Due: typos -w -c typos.toml

build(publish): added step to remove `*.typ` file from the prepared packages `manual` dir (#48)
  justscripts/publish.just
Due: typos -w -c typos.toml

chore(README): changed the displayed version in the usage
  typst.toml
Due: prettier --check, typos -w -c typos.toml

build(README): changed the displayed version in the usage
  README.md
Due: prettier --check, typos -w -c typos.toml

chore(README): added missing changes related to package script (#50)
  README.md
Due: prettier --check, typos -w -c typos.toml

chore: removed old file
  examples/demo.pdf
Due: typos -w -c typos.toml

chore: added advanced usage information
  README.md
Due: prettier --check, typos -w -c typos.toml

chore: added advanced usage information (#51)
  README.md
  examples/demo.pdf
Due: prettier --check, typos -w -c typos.toml

chore: update authors field
  typst.toml
Due: prettier --check, typos -w -c typos.toml

chore: update authors field (#52)
  typst.toml
Due: prettier --check, typos -w -c typos.toml

docs: fixed invalid indentation
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typstyle --check -c 120, typos -w -c typos.toml

docs: fixed invalid indentation (#53)
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor(build): moved code into module
  justfile
  justscripts/build/mod.just
Due: typos -w -c typos.toml

refactor(build): added command group and docs
  justfile
Due: typos -w -c typos.toml

refactor(build): reworked package preparation script
  justfile
  justscripts/package/mod.just
Due: typos -w -c typos.toml

refactor(build): changed FORK_URL to env variable
  justfile
  justscripts/package/mod.just
Due: typos -w -c typos.toml

refactor(build): refactored justscripts (#54)
  justfile
  justscripts/build/mod.just
  justscripts/package/mod.just
  justscripts/publish.just
Due: typos -w -c typos.toml

chore: update dependencies and run typstyle
  requirements.typ
  src/catppuccin.typ
  src/lib.typ
  src/version.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor: changed typstyle to use `--inplace`
  justscripts/build/mod.just
Due: typos -w -c typos.toml

chore: updated deps and run typestyle
  examples/demo.typ
  examples/requirements.typ
  manual/manual.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: updated manual and assets
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: typos -w -c typos.toml

chore: update Typst version to 0.13.1
  .github/workflows/ci.yml
Due: typos -w -c typos.toml

fix: update CI and adjust versioning
  .github/workflows/ci.yml
  justfile
  typst.toml
Due: prettier --check, typos -w -c typos.toml

Path conditions:
  prettier --check: any of: *.{json,md,yaml,toml,tmTheme}
  typstyle --check -c 120: any of: *.typ
  oxipng -o max --strip safe: any of: *.png
  typos -w -c typos.toml: any of: *
