Repository catppuccin/typst: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, typstyle --check -c 120, oxipng -o max --strip safe, typos -w -c typos.toml

.lintstagedrc:

{
  "*.{json,md,yaml,toml,tmTheme}": ["prettier --check"],
  "*.typ": ["typstyle --check -c 120"],
  "*.png": ["oxipng -o max --strip safe"],
  "*": ["typos -w -c typos.toml"],
}

chore: update dependencies and run typstyle (#59)
  .github/workflows/ci.yml
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
  examples/requirements.typ
  justfile
  justscripts/build/mod.just
  manual/manual.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  requirements.typ
  src/catppuccin.typ
  src/lib.typ
  src/version.typ
  typst.toml
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

chore: update version
  README.md
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: prettier --check, typos -w -c typos.toml

chore: update version (#60)
  README.md
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
Due: prettier --check, typos -w -c typos.toml

refactor: optimize package initialization and update process
  justscripts/package/mod.just
Due: typos -w -c typos.toml

refactor: optimize package initialization and update process (#61)
  justscripts/package/mod.just
Due: typos -w -c typos.toml

fix: export config-code-blocks function
  examples/code.typ
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: export config-code-blocks function (#64)
  examples/code.typ
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor!: renamed old show method to be more accurate
  examples/code.typ
  src/catppuccin.typ
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

refactor!: rename and export set-code-theme function (#65)
  examples/code.typ
  src/catppuccin.typ
  src/lib.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: corrected spelling & changed flavor to appropriate name
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/demo.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

fix: corrected example code
  examples/code.typ
Due: typstyle --check -c 120, typos -w -c typos.toml

chore: bump version to v1.1.0
  README.md
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  typst.toml
Due: prettier --check, typos -w -c typos.toml

fix: bump version to v1.1.0 (#66)
  README.md
  assets/previews/frappe.webp
  assets/previews/latte.webp
  assets/previews/macchiato.webp
  assets/previews/mocha.webp
  assets/previews/preview.webp
  examples/code.typ
  examples/demo.typ
  manual/manual_latte.pdf
  manual/manual_mocha.pdf
  typst.toml
Due: prettier --check, typstyle --check -c 120, typos -w -c typos.toml

fix: corrected fork check logic
  justscripts/package/mod.just
Due: typos -w -c typos.toml

fix: corrected fork check logic (#67)
  justscripts/package/mod.just
Due: typos -w -c typos.toml
